// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pane {
  background: #F2FDE0;
  padding-bottom: 50px;
}

.logo {
  top: -200;
}